#Home #searchbar-label {
    margin: 0px 60px;
}

#SearchBar button {
    padding: 0px 8px
}

#SearchBar button label {
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
}

#SearchBar entry,
#Display textview,
#SideBar treeview {
    font-family: Zegoe Light;
    font-size: 13px;
}

#INav entry{
    border: none;
    font-family: Monospace;
    font-style: italic;
    box-shadow: none;
}

#Home #hpaned {
    margin-top: 3px;
    background-color: lightgray;
    border-style: dotted;
    border-top-width: 1px;
}

#overlay-widget button{
    border-width: 0px;
    margin: 0px;
    background-image: none;
    box-shadow: none;
}

#Display toolbar {
    background-color: lightgray;
    border-style: double;
    border-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#Relatives notebook tab {
    margin-left: 59px;
    border-width: 0px;
}
